@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@font-face {
			font-family: 'MyWebFont';
			src: url('assets/Adult-Swim-Font.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
			 url('assets/Adult-Swim-Font.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
		}  

#title {
  font-family: monospace;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 50px;
}
#whomadethisatrocity {
	font-family: MyWebFont, monospace;
}
.garbage {
  font-family: Roboto Condensed, monospace;
}
