@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&family=ZCOOL+KuaiLe&display=swap');
@font-face {
	font-family: 'MyWebFont';
	src: url('../assets/Adult-Swim-Font.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	url('../assets/Adult-Swim-Font.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  
#title {
  font-family: monospace;
  /* padding-top: 25px; */
  padding-bottom: 25px;
  font-size: 50px;
}
#whomadethisatrocity {
	font-family: MyWebFont, monospace;
}
.garbage {
  font-family: Roboto Condensed, monospace;
}
#upgrades {
  border-style: outset;
  border-width: thick;
  width: 200px;
  height: 350px;
  background:blue;
  float: left;
}
#main { 
    width: 700px;
    margin: 0 auto;
}
#click area  {
  width: 600px;
  background: #ffffff;
  height: 400px;
  margin-left: 200px;
}
#gameinfo {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background: rgb(250,249,0);
  background: linear-gradient(90deg, rgba(250,249,0,1) 0%, rgba(25,121,9,1) 19%, rgba(11,198,255,1) 66%, rgba(0,89,255,1) 100%);
}
#achievementsboard {
  border-style: outset;
  border: 5px solid blue;
  margin: auto;
  width: 50%;
  background: rgb(249,101,116);
  background: linear-gradient(90deg, rgba(249,101,116,1) 0%, rgba(153,190,27,1) 66%);
}
.general {
  font-family: 'Poppins', monospace;
}
.button {
  font-family: 'ZCOOL KuaiLe', cursive;
}
body {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
}
#counter {
  font-size: 72px;
  background: -webkit-linear-gradient(#ffd54d, #f52549);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
