@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&family=ZCOOL+KuaiLe&display=swap');
@font-face {
	font-family: 'MyWebFont';
	src: url('../assets/Adult-Swim-Font.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	url('../assets/Adult-Swim-Font.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  
#title {
  font-family: monospace;
  /* padding-top: 25px; */
  padding-bottom: 25px;
  font-size: 50px;
}
#whomadethisatrocity {
	font-family: MyWebFont, monospace;
}
.garbage {
  font-family: Roboto Condensed, monospace;
}
#upgrades {
  border-style: outset;
  border-width: thick;
  width: 200px;
  height: 300px;
  background:blue;
  float: left;
}
#main { 
    width: 800px;
    margin: 0 auto;
}
#clickarea  {
  width: 600px;
  background: #ffffff;
  height: 400px;
  margin-left: 200px;
}
#gameinfo {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
#achievementsboard {
  border-style: outset;
  border: 5px solid blue;
  margin: auto;
  width: 75%; 
}
.general {
  font-family: 'Poppins', monospace;
}
.button {
  font-family: 'ZCOOL KuaiLe', cursive;
}
